  <div class="page">
    <h1><span class="highlight-line">Checklist Online Video</span></h1>

    <p class="text-intro" style="margin-bottom: 30px;">Vergroot je bereik en engagement, voldoe aan de wetgeving en digitale richtlijnen, bespaar kosten, of gewoon omdat je net als wij vindt dat iedereen in onze maatschappij mee zou mogen doen.</p>

    <div class="checklist-section">
      <span class="checklist-heading">Digitaal toegankelijk</span>

      <div class="check-item">
        <div class="check-box"></div>
        <div class="check-text"><strong>Toegankelijke content</strong> | Controleer contrast, kleurgebruik & max 3 flitsen p/sec.</div>
      </div>

      <div class="check-item">
        <div class="check-box"></div>
        <div class="check-text"><strong>Zelfredzaamheid</strong> | Voeg audiodescriptie, transcript & ondertitels (ODS) toe.</div>
      </div>

      <div class="check-item">
        <div class="check-box"></div>
        <div class="check-text"><strong>Videoplayer</strong> | Kies WCAG 2.2 AA en ga voor A-status.</div>
      </div>
    </div>

    <div class="checklist-section">
      <span class="checklist-heading">Privacy compliant</span>

      <div class="check-item">
        <div class="check-box"></div>
        <div class="check-text"><strong>Cookies consent</strong> | Kies een player met beheersbare cookies.</div>
      </div>

      <div class="check-item">
        <div class="check-box"></div>
        <div class="check-text"><strong>Eigendom content</strong> | Doe geen afstand van je eigendomsrechten.</div>
      </div>

      <div class="check-item">
        <div class="check-box"></div>
        <div class="check-text"><strong>Opslag gegevens</strong> | Gebruik EU servers voor opslag van je content.</div>
      </div>
    </div>

    <div class="checklist-section">
      <span class="checklist-heading">Video workflow</span>

      <div class="check-item">
        <div class="check-box"></div>
        <div class="check-text"><strong>Veilig</strong> | Start vanuit één centraal en veilig distributiepunt voor al je video's.</div>
      </div>

      <div class="check-item">
        <div class="check-box"></div>
        <div class="check-text"><strong>Effectief</strong> | Laat je kijkers overgaan tot actie op je eigen kanalen.</div>
      </div>

      <div class="check-item">
        <div class="check-box"></div>
        <div class="check-text"><strong>Makkelijk</strong> | Creëer een simpele workflow voor je externe & interne content.</div>
      </div>
    </div>

    <div class="large-checkmark-container">
      <div class="large-checkmark">
        <i class="fa-solid fa-check" style="color: var(--white); font-size: 55px;"></i>
      </div>
    </div>

{{footer}}
  </div>
