  <div class="page page-contact">
    <h1 class="contact-title">
      Samen tillen we je videoprestaties<br>
      <span class="highlight-line">naar een hoger niveau</span>
    </h1>

    <div class="split-layout">
      <div class="split-left">
        <div>
          <h3>Vraag een demo aan</h3>
          <p>Vraag vrijblijvend een demo aan voor jou en je collega's.</p>
          <a href="https://www.bluebillywig.com/nl/demo/" class="btn btn-red" target="_blank">Klik hier</a>
        </div>
        <div>
          <h3>Bekijk onze blogs</h3>
          <p>Bekijk ons blogs en webinars over video management en toegankelijkheid.</p>
          <a href="https://www.bluebillywig.com/nl/blog/" class="btn btn-red" target="_blank">Klik hier</a>
        </div>
        <div>
          <h3>Plan een kop koffie</h3>
          <p>Maak een afspraak voor een heerlijke koffie!</p>
          <a href="https://www.bluebillywig.com/nl/contact/" class="btn btn-red" target="_blank">Klik hier</a>
        </div>
        <div class="contact-item" style="margin-top: 10px;">
          <h3 style="margin-bottom: 12px;">Weet mij te vinden</h3>
          <p>{{contactName}}</p>
          <p>{{contactPhone}}</p>
          <p>{{contactEmail}}</p>
        </div>
      </div>
      <div class="split-right-img" style="background-image: url('{{contactImageUrl}}')"></div>
    </div>

    <div class="contact-footer">
      <div class="footer-container">
        <div class="svg-logo-white">
          <img src="https://d3bn524hv76vco.cloudfront.net/upload/newskin.acc/780b5079ecb7d44a8d5a2d090d06882962d5ab17.svg" alt="Blue Billywig">
        </div>
      </div>
    </div>
  </div>
